.generate{
	margin-bottom: 0;
}

.card-action{
	padding-top: 10px !important;
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 30%;
  left: 50% !important;  
}

.inp {
	padding: 0px !important	;
}


input[type="range"]::-moz-range-thumb {
	background: none repeat scroll 0 0 #0288d1;
	border: medium none;
	border-radius: 50%;
	height: 14px;
	margin-top: -5px;
	width: 14px;
}

input[type="range"]:active::-moz-range-thumb {
	background: none repeat scroll 0 0 #0288d1;
	border: medium none;
	border-radius: 50%;
	height: 24px;
	margin-top: -5px;
	width: 24px;
}

input[type="range"] + .thumb {
	background: none repeat scroll 0 0 #0288d1;
}

.switch label input[type="checkbox"]:checked + .lever {
    background-color: #29b6f6;
}

.switch label input[type="checkbox"]:checked + .lever::after {
	background-color: #0288d1;
}

.title {
	font-family: "Roboto";
	font-weight: 300;
	font-size: 22px;
	color: #818181;
}

.logo {
	font-family: "Roboto";
}

.logo1 {
	font-weight: 200;
	font-style: italic;
}

.logo2 {
	font-weight: 400;
}

.content {
	padding-top: 20px !important;
	margin-bottom: 0px !important;
}

#pass {
	margin-top: 0px !important;
}